.complete{
  text-decoration: line-through;
}
.box{
  background-color: #3ea4d1;
  height: 250px;
  width: 100%;
}
.text-white{
  color: white;
    margin-left: 70%;
    font-size: 50px;
}
.form-control{
  width: 80%;
  margin-left: 12%;
  height: 50px;
}
.input-group-append{
  margin-left: 88%;
}
.btn-success{
width:70px;
height: 30px;
background-color: #3ea4d1;
color: white;
margin-top:10%;
}